
<body class="home-page-bkgd">
  <div class="home-page-container">
    <div class="text-center"> 
        <h2>Update <%= @student.name %> Here</h2>
        <form action="/students/<%= @student.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label>Name: </label>
  <input type="text" name="student[name]" value="<%=@student.name%>"/><br />
  <label>Age:  </label>
  <input type="text" name="student[age]" value="<%=@student.age%>"/><br />
  <label>Favorite Subject: </label>
  <textarea type="text" name="student[favorite_subject]" value="<%=@student.favorite_subject%>" rows="5" cols="10" > </textarea><br />
  <input type="submit" value="Edit Student">
</form>
<br>
<form method="POST" action="/students/<%= @student.id %>/delete">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
        
    </div>
  </div>
</body>