<body class="home-page-bkgd">
  <div class="home-page-container">
    <div class="text-center">
         
       <h2>List All Students Created, <%= current_user.username %></h2>
<ul>

<h3>Student ID: <%= @student.id %></h3>


<p><%= @student.name %></p>
<p><%= @student.age %></p>
<p><%= @student.favorite_subject %></p>

<% if current_user == @student.user %>
  
 <form action="/students/<%=@student.id%>/edit" method="patch">
    <input type="hidden" name="_method" value="edit">
    <input type="submit" value="Edit">

  <form action="/students/<%=@student.id%>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
<%end%>   
   </div>
  </div>
</body>