<body class="home-page-bkgd">
  <div class="home-page-container">
    <div class="text-center">
         
       <h2>List All Students Created, <%= current_user.username %></h2>
  <ul>
    <% @students.each do |s| %> 
      <li><a href="/students/<%= s.id %>"><%= s.name %> ,<%= s.age %> ,<%= s.favorite_subject %> </a> </li>
    <% end %>
   </ul>
   </div>
  </div>
</body>
